<!--
  ~ Copyright (c) 2018, salesforce.com, inc.
  ~ All rights reserved.
  ~ Licensed under the BSD 3-Clause license.
  ~ For full license text, see LICENSE.txt file in the repo root  or https://opensource.org/licenses/BSD-3-Clause
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-20.30logger{3} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        Setting to info level enables DDL level logging.  Enabling the MtAmazonDynamoDbLogger logger will result
        in logging both DDL and DML operations.
    -->
    <logger name="com.salesforce.dynamodbv2.mt.admin.AmazonDynamoDbAdminUtils" level="warn"/>

    <!--
        Setting to info level enables test start messages.
    -->
    <logger name="com.salesforce.dynamodbv2.TestTemplateSupportingParameterizedTest" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>